
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.d1,.d2,.d3,.d4{
    margin: 1rem;
    height: 10rem;
    flex-basis: 20%;
}

.d1{
    background-color: aqua;
}

.d2{
    background-color: blueviolet;
}

.d3{
    background-color: lightgreen;
}

.d4{
    background-color: blue;
}

@media screen and (max-width:800px) {
    .d1,.d2,.d3,.d4{
        flex-basis: 40%;
    }
}

@media screen and (max-width:600px) {
    .d1,.d2,.d3,.d4{
        flex-basis: 100%;
    }
}