

div{
    background-color: black;
    height: 10%;
}

@media screen and (max-width:1000px) {
    div{
        background-color: yellow;
    }
}

@media screen and (max-width:800px) {
    div{
        background-color: royalblue;
    }
}

@media screen and (max-width:600px) {
    div{
        background-color: red;
    }
}